# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Testing ---
# Ruff (Linter)
.ruff_cache/

# Pytest (Testing)
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Mypy (Type checking)
.mypy_cache/
.dmypy.json
dmypy.json

# --- Entornos Virtuales ---
venv/
env/
ENV/
.env
.venv

# --- Docker ---
# Volúmenes en la raíz del proyecto
postgres_data/
neo4j_data/
sqlserver_data/

# Archivos de configuración local de Docker
docker-compose.override.yml


# --- Variables de entorno ---
.env
.env.local
.env.*.local

# Alembic (Migraciones) ---
alembic/__pycache__/
alembic/versions/__pycache__/

# --- IDEs y archivos de SO ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Archivos generados ANTLR4 ---
# Sube los archivos generados para que el Docker funcione directo.
# Si en el futuro automatizamos la generación, descomenta la línea de abajo:
# app/core/parser/generated/