# FastAPI
fastapi                 # Framework web para construir APIs
uvicorn[standard]       # Servidor ASGI para FastAPI

# Bases de Datos
sqlalchemy              # ORM para bases de datos
alembic                 # Migración de bases de datos
psycopg2-binary         # Conexión a PostgreSQL
pyodbc                  # Conexión a SQL Server
neo4j                   # Conexión a Neo4j

# Variables de entorno
pydantic-settings       # Gestión de configuraciones
python-dotenv           # Carga variables de entorno

# Seguridad y Autenticación
bcrypt==4.1.2           # Librería de hash bcrypt (versión compatible)
passlib==1.7.4          # Hash de contraseñas
python-jose[cryptography]  # JWT tokens
cryptography            # Encriptación de datos sensibles (Fernet)
python-multipart        # Soporte para form data

# Uso de emails
email-validator         # Validación de direcciones de email

# Parseo y traducción con ANTLR4
antlr4-tools            # Genera parsers
antlr4-python3-runtime  # Ejecución del parser generado

# linters
black                   # Formateador de código
ruff                    # Linter para Python

# Testing
pytest                 # Framework para testing
pytest-cov             # Cobertura de código para tests
httpx                  # Cliente HTTP para testing de APIs